pkgbase = doublecmd-qt6-bin
	pkgdesc = Twin-panel (commander-style) file manager (Qt6, prebuilt binary)
	pkgver = 1.2.8
	pkgrel = 3
	url = https://doublecmd.sourceforge.io/
	arch = x86_64
	license = GPL-2.0-or-later
	license = LGPL-2.0-or-later
	license = MIT
	license = MPL-1.1
	license = MPL-2.0
	license = Apache-2.0
	license = BSD-2-Clause
	license = Zlib
	depends = qt6-base
	depends = libb2
	depends = liburing
	depends = md4c
	depends = brotli
	depends = zstd
	depends = double-conversion
	depends = icu
	depends = pcre2
	depends = glib2
	depends = harfbuzz
	depends = graphite
	depends = fontconfig
	depends = freetype2
	depends = libpng
	depends = libglvnd
	depends = libx11
	depends = libxcb
	depends = libxkbcommon
	depends = systemd-libs
	depends = wayland
	depends = dbus
	depends = gcc-libs
	depends = desktop-file-utils
	depends = hicolor-icon-theme
	depends = shared-mime-info
	optdepends = lua: scripting
	optdepends = unzip: support extracting zip archives
	optdepends = zip: support packing zip archives
	optdepends = p7zip: support for 7zip archives
	optdepends = libunrar: support for rar archives
	optdepends = imagemagick: preview xcf files
	optdepends = ffmpegthumbnailer: preview video files
	optdepends = mplayer: to make use of the wlxmplayer plugin
	provides = doublecmd
	conflicts = doublecmd-qt5
	conflicts = doublecmd-gtk
	conflicts = doublecmd-gtk2
	replaces = doublecmd-qt
	replaces = doublecmd-qt4
	replaces = doublecmd-gtk2
	source = https://github.com/doublecmd/doublecmd/releases/download/v1.2.8/doublecmd-1.2.8.qt6.x86_64.tar.xz
	source = https://raw.githubusercontent.com/doublecmd/doublecmd/v1.2.8/install/linux/doublecmd.desktop
	source = https://raw.githubusercontent.com/doublecmd/doublecmd/v1.2.8/install/linux/doublecmd.1
	source = https://raw.githubusercontent.com/doublecmd/doublecmd/v1.2.8/install/linux/org.doublecmd.root.policy
	sha512sums = 6bffd9b0256eae7ef12543e8350b2d5d3f0d36b155f0de5b36177e1f9c945f60b31ec82fbd7c7b98a0811409212743418f235927fae66e933f03a20f65ea4e8c
	sha512sums = a2e56171e34a752e0e9be4ba8aed83c8ad710248680fca5ae10c16b9f36d3ca25f6057deec35db31e2b59149de5d4f6bc3b94a3896d9913c06c205f3e29327c8
	sha512sums = 2a82b0578c7428d4e2df6aadf09041f71b7bfed2773f62658b461309f18d6a444bc68fda24f58709d6ddcf166b95047ec6d261c4222b0cae0bfbcb14e7381f13
	sha512sums = b10ec792a3ccf978544b1b10e05ce9c6477008b3230ff89dc49084c7337e6df3f45cb36a0dc2675316609dcbf18d406d039f09cc0d5abb77f0d76179bad97200

pkgname = doublecmd-qt6-bin
